html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-size: 1.5rem;
  font-weight: 700;
}

ul, ol {
  list-style-position: inside;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

p, li {
  margin: 0.5rem 0;
  font-weight: 400;
}

html.dark {
  background-color: #181818;
  color: #fff;
  p, li {
    font-weight: 100;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.tag {
  border: dotted 2px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  font-size: 1em;
}


