---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ara Kang";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Hi there 👋 </p>
  <p>I'm a Front-end Engineer with a design background who works systematically in a team and is eager to join an open-minded, innovative, and product-oriented company.</p>
</BaseLayout>