---
const { url, frontmatter } = Astro.props;
---
<li class="list-none flex gap-8 items-center">
    <p class="text-sm text-gray-500">{frontmatter.pubDate.toString().slice(0,10)}</p>
    <a href={url}>{frontmatter.title}</a>
</li>

