---
import InstagramIcon from './InstagramIcon.astro';
import GitHubIcon from './GitHubIcon.astro';
---
<footer class="flex flex-col items-center pt-8 mt-auto">
    <div class="flex gap-4">
        <GitHubIcon />
        <InstagramIcon />
    </div>
    <p> © araaakang, <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a></p>
</footer>
