---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';

---
<header>
  <nav class="flex justify-between">
    <a
      aria-current={Astro.url.pathname === "/" ? "page" : false}
      class="inline-flex gap-2 items-center"
      href="/"
    >
      <img src="/logo.jpg" alt="Logo" class="h-10 w-10" />
    </a>
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
